/* ===========
Typography 
===========*/
@font-face {
  font-family: "Dagtton";
  src: url("/fonts/Dagtton.otf") format("woff2"), url("/fonts/Dagtton.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1, h2 {
  font-family: "Dagtton", sans-serif;
}

.font-italiana {
  font-family: "Italiana", sans-serif;
}

.font-montserrat {
    font-family: "Montserrat", sans-serif;
}

.text-shadow {
  text-shadow: #00000080 0px 5px 6px;
}
