---
import BaseLayout from '../layouts/BaseLayout.astro';
import {Content} from './faq.md';

const pageTitle = 'FAQ | Caleb + Sabrina';
---
<BaseLayout title={pageTitle}>
    <!-- <div 
        id="hero"
        class="flex flex-grow bg-cover bg-center"
        style="background-image: url('../images/FAQ-Hero.jpg');"
    >
        <div class="grid grid-cols-3">
            <div class="col-span-12 md:col-span-2 flex h-screen">
                <div class="px-4 md:px-12 lg:px-32 m-auto place-items-center">
                    <h1 class="font-dagtton text-6xl md:text-8xl lg:text-9xl text-white text-shadow my-4">Just So<br><span class="pl-10 md:pl-16 lg:pl-20">You Know</span></h1>
                </div>
            </div>
        </div>
    </div> -->
    <div class="relative">
        <picture>
            <source media="(max-width: 480px)" srcset="../images/FAQ-Hero-Mobile.jpg" />
            <source media="(max-width: 810px)" srcset="../images/FAQ-Hero-Tablet.jpg" />
            <source media="(min-width: 811px)" srcset="../images/FAQ-Hero-Desktop.jpg" />
            <img src="../images/FAQ-Hero-Desktop.jpg" />
        </picture>
        <div class="absolute top-0 left-0 w-3/5">
            <div class="grid grid-cols-2 min-h-[480px] md:min-h-[300px] lg:min-h-[700px] px-4 md:px-8 lg:px-32">
                <div class="col-span-2 place-content-center -mt-28">
                    <div class="font-dagtton text-white text-stroke-white text-shadow text-10xl">Just So</div>
                    <div class="font-dagtton text-white text-stroke-white text-shadow text-10xl pl-12 md:pl-20 lg:pl-32 -mt-24">You Know</div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-56 mt-8">
        <div class="faq">
          <Content />                                                                                                                                                      -->
    </div>
</BaseLayout>