---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Caleb + Sabrina';
---
<BaseLayout title={pageTitle}>
    <main class="relative">
        <div>
            <div class="text-white">
                <h1>Caleb & Sabrina</h1>
            </div>
        </div>
        
    </main>
</BaseLayout>