---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Caleb + Sabrina';
---
<BaseLayout title={pageTitle}>
    <main class="relative">
        <div
            id="hero"
            class="flex min-h-[506px] flex-grow bg-cover bg-center md:min-h-[576px] lg:min-h-[840px]"
            style="background-color: blueviolet;"
        >
            <div class="text-white">
                <h1>Caleb & Sabrina</h1>
            </div>
        </div>
        
    </main>
</BaseLayout>