<footer class="bg-forest mt-20 px-2">
    <p class=" font-italiana text-white text-center py-6 text-lg md:text-3xl lg:text-4xl">“I would rather share one lifetime with you than<br>face all the ages of this world alone.”</p>
    <div class="flex justify-end px-8 py-4 text-white text-xs">© 2004-2025 Caleb and Sabrina</div>
</footer>