<nav class="flex flex-wrap items-center py-2 md:py-3 lg:py-5 px-4 md:px-28 lg:px-36 bg-forest">
    <div>
        <a href="/" class="text-white text-lg md:text-xl lg:text-2xl "> 
            <span id="brand-name">Caleb + Sabrina</span>
        </a>
    </div>
    
    <div class="ml-auto self-center">
        <a href="https://withjoy.com/sabrina-and-caleb-may-25/" target="_blank">
            <button class="bg-orchid text-white text-base md:text-lg lg:text-xl py-2 px-6 rounded">RSVP</button>
        </a>
        <a href="/our-story" class="pl-2 md:pl-4 lg:pl-7 text-base md:text-lg lg:text-xl text-white">Our Story</a>
        <a href="/wedding-info" class="pl-2 md:pl-4 lg:pl-7 text-base md:text-lg lg:text-xl text-white">Wedding Info</a>
        <a href="/faq" class="pl-2 md:pl-4 lg:pl-7 text-base md:text-lg lg:text-xl text-white">FAQ</a>
    </div>
</nav>