<nav class="flex py-5 px-36 bg-forest">
    <div>
        <a href="/" class="text-white text-4xl"> 
            <span id="brand-name">Caleb + Sabrina</span>
        </a>
    </div>
    
    <div class="ml-auto self-center">
        <a href="#">
            <button class="bg-orchid text-white text-3xl py-2 px-8 rounded">RSVP</button>
        </a>
        <a href="/" class="pl-7 text-3xl text-white">Our Story</a>
        <a href="/about/" class="pl-7 text-3xl text-white">Wedding Info</a>
        <a href="/recipes/" class="pl-7 text-3xl text-white">FAQ</a>
    </div>
</nav>